
<nav class="navbar navbar-default">
  <div class="container-fluid">
   
    
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img alt="Brand" src="images/casino49.png" height="30px">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>

   
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown" data-toggle="dropdown">Hi {{vm.user.firstName}}!<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/login">Logout</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#/profile">Profile</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<br/>
<h3><b>Registered users list</b></h3>
<hr>
 
   <div class="btn-group">
        <button class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Export Table Data</button>
        <ul class="dropdown-menu " role="menu">
            <li><a href="#" onclick="$('#tasks').tableExport({type:'pdf',pdfFontSize:'7',escape:'false'});"> <img src='images/pdf.png' width='24'> PDF</a></li>
        </ul>
    </div>
<br/><br/>

    <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped table-bordered table-condensed table-hover" id="tasks" >	   
       <thead>
            <tr>
            <th>Search: <input ng-model="query" /></th>
            <th></th>
            <th></th>
            <td></td> 
        </tr>
			<tr>
                <th st-sort="lastName">Last Name</th>
				<th st-sort="firstName">First Name</th>
				<th st-sort="username">Username</th>  
                <th st-sort="tags">Tags</th>            
			</tr>
			</thead>
			<tbody>
			<tr dir-paginate="user in vm.allUsers|itemsPerPage:5 | filter:query">
                <td>{{user.lastName}}</td>
				<td>{{user.firstName}}</td>				
				<td>{{user.username}}</td> 
                <td><span ng-repeat="tag in user.tags| filter:query">{{tag.text}} </td>            
			</tr>
			</tbody>
		</table>
 <dir-pagination-controls
        max-size="5"
        direction-links="true"
        boundary-links="true" >
    </dir-pagination-controls>


