 <div class="container" ng-controller="AccountController">   
 <!-- navbar-->    
  <nav class="navbar navbar-default">
  <div class="container-fluid">
   
   <!-- navbar-header-->
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img alt="Brand" src="images/casino49.png" height="30px">
      </a>
    </div>
        
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
      </ul>
        
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Go!</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown" data-toggle="dropdown">Hi {{vm.user.userData.firstName}}!<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/login">Logout</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#/profile">Profile</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <br/> 
   
   <h3><b>Profile info</b></h3>
   <hr> 
   
      <form class = "pull-right" style="width: 500px;"  position = "absolute">
        <div class="form-group">
            <tags-input ng-model="vm.user.userData.tags" style="width: 700px;" max-tags="5"></tags-input>
        </div>
             <button type="button" class="btn btn-primary pull-right" ng-click="vm.saveTags(vm.user)">Save Tags</button>
      </form>
    
    <!-- User profile picture -->
         <output id="list" style="width: 50px;"></output>
         <br/><br/>
        <div class="container">
            <div><input type="file" id="files" name="files[]" multiple/></div>
        </div>
   <br/>

    <!-- User table -->
    <div class="col-sm-6">
        <h5><strong>BASIC INFO</strong></h5>
        <br />
        
        <table class="table">
               <tr>
                <td>FIRST NAME</td>
                <td>{{vm.user.userData.firstName}}</td>
                <td></td>
            </tr>
                <tr>
                <td>LAST NAME</td>
                <td>{{vm.user.userData.lastName}}</td>
                <td></td>
            </tr>
            <tr>
                <td>USERNAME</td>
                <td>{{vm.user.userData.username}}</td>
                <td></td>
            </tr>
             <tr> <td><button class="btn btn-sm btn-success" ng-click="vm.changeBasicInfo()">Change info</button></td></tr>
        </table>

   <!-- User additional info -->   
  <h5><b>ADDITIONAL INFO</b></h5>
        <table class="table">
               <tr>
                <td>EDUCATION</td>
                <td>{{vm.user.userData.education}}</td>
            </tr>
             <tr>
                <td>WORKING PLACE</td>
                <td>{{vm.user.userData.workplace}}</td>
            </tr>
            <tr> <td><button class="btn btn-sm btn-success" ng-click="vm.changeInfo()">Change info</button></td></tr>
        </table>
    </div>
  
   <!-- Change additionalinfo-->
    <div class="col-sm-5 col-sm-offset-1" ng-show="vm.showInfoChangeTab">
        <h5 class="h5"><b>CHANGE ADDITIONAL INFO</b></h5>
        <br />
        <form class="form-group">
            <div class="form-inline">
                <label class="col-sm-4">Education</label>
                <input type="text" class="form-control" ng-model="vm.user.userData.education" />
            </div>
            <br />
            <div class="form-inline">
                <label class="col-sm-4">Working place</label>
                <input type="text" class="form-control" ng-model="vm.user.userData.workplace"/>
            </div>
            <br />
            <div class="form-inline">
                <button class="btn btn-sm btn-primary" ng-click="vm.confirmAdditionalInfoEdit(vm.user)">Save changes</button>
                <button class="btn btn-sm btn-primary" ng-click="vm.closeTab()">Close tab</button>
            </div>
        </form>
    </div>
    
    
      
   <!-- Change basic info-->
    <div class="col-sm-5 col-sm-offset-1" ng-show="vm.showBasicInfoChangeTab">
        <h5 class="h5"><b>CHANGE BASIC INFO</b></h5>
        <br />
        <form class="form-group">
            <div class="form-inline">
                <label class="col-sm-4">First name</label>
                <input type="text" class="form-control" ng-model="vm.user.userData.firstName" />
            </div>
            <br />
            <div class="form-inline">
                <label class="col-sm-4">Last name</label>
                <input type="text" class="form-control" ng-model="vm.user.userData.lastName"/>
            </div>
            <br />
            <div class="form-inline">
                <label class="col-sm-4">Username</label>
                <input type="text" class="form-control" ng-model="vm.user.userData.username"/>
            </div>
            <br />
            <div class="form-inline">
                <button class="btn btn-sm btn-primary" ng-click="vm.confirmBasicInfoEdit(vm.user)">Save changes</button>
                <button class="btn btn-sm btn-primary" ng-click="vm.closeBasicTab()">Close tab</button>
            </div>
        </form>
    </div>
  </div> 
 

    
 
   



